<header>
  <!--%= image_tag("", :alt => "Sample App", :class => "round") %-->
  <nav class="round">
    <ul>
      <li><%= link_to "Home", :controller => "home", :action => "index" %></li>
    </ul>
  </nav>
</header>